@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #efefef;
}

::-webkit-scrollbar-thumb {
  background-color: #3f3f3f;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #f9f9f9 inset !important;
}


mobiliar-viewer-ar {
  background: #ffffff !important;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  border: solid 1px #969799;
  height: 45px;
  padding: 0 15px;

  &::before {
    content: '';
    width: 30px;
    height: 34px;
    background: url(https://tezexb.vteximg.com.br/arquivos/icon-realidade-aumentada.jpg);
    margin-right: 12px;

    @media (max-width: 640px) {
      width: 34px;
    }
  }

  &::after {
    content: 'veja em sua casa através da realidade aumentada';
    width: auto;
    text-align: center;
  }
}

@layer base {

  /* Allow changing font family via CMS */
  html {
    @apply font-univers-next-pro-regular;
    scroll-behavior: smooth;
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #efefef;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background: #3f3f3f;
    border-radius: 100vh;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}